body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: chocolate;

  .Calculator {
    width: 20rem;
    height: 51vh;
    background-color: blue;
    padding: 15px;

    .inptxt {
      width: 20rem;
      height: 5vh;
      margin-bottom: 25px;
      margin-top: 10px;
      background-color: black;
      color: white;
      font-size: 25px;
    }

    .buttons {
      .section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        .nums {
          width: 4rem;
          height: 6vh;
          background-color: yellow;
          font-size: 20px;
        }
        .oper {
          width: 4rem;
          height: 6vh;
          background-color: green;
          font-size: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .deleteAll {
          width: 4rem;
          height: 6vh;
          background-color: red;
          font-size: 20px;
        }

        .delete {
          width: 4rem;
          height: 6vh;
          background-color: orangered;
          font-size: 20px;
        }
      }

      .equal {
        width: 20rem;
        height: 6vh;
        background-color: aqua;
        margin-top: 6px;
        font-size: 25px;
      }
    }
  }
}
